
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "centrifugo.fullname" . }}
  namespace: {{ include "centrifugo.namespace" . }}
  labels:
    {{- include "centrifugo.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  {{- with .Values.revisionHistoryLimit }}
  revisionHistoryLimit: {{ . }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "centrifugo.selectorLabels" . | nindent 6 }}
  {{- if .Values.deploymentStrategy }}
  strategy:
    {{- toYaml .Values.deploymentStrategy | nindent 4 }}
  {{- end }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "centrifugo.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      {{- end }}
      {{- include "centrifugo.imagePullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "centrifugo.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      volumes:
        - name: {{ include "centrifugo.fullname" . }}-config
          configMap:
            name: {{ include "centrifugo.fullname" . }}-config
        {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: {{ include "centrifugo.image" .}}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - centrifugo
          args:
            - --health.enabled
            - --prometheus.enabled
            - --http_server.port
            - "{{ .Values.service.port }}"
            - --http_server.internal_port
            - "{{ .Values.internalService.port }}"
            - --grpc_api.enabled
            - --grpc_api.port
            - "{{ .Values.grpcService.port }}"
            - --uni_grpc.port
            - "{{ .Values.uniGrpcService.port }}"
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            {{- range .Values.envSecret }}
            - name: {{ .name }}
              valueFrom:
                secretKeyRef:
                  {{- toYaml .secretKeyRef | nindent 18 }}
            {{- end }}
          volumeMounts:
            - name: "{{ include "centrifugo.fullname" . }}-config"
              mountPath: "/centrifugo"
              readOnly: true
            {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - name: external
              containerPort: {{ .Values.service.port }}
            - name: internal
              containerPort: {{ .Values.internalService.port }}
            - name: grpc
              containerPort: {{ .Values.grpcService.port }}
            - name: uni-grpc
              containerPort: {{ .Values.uniGrpcService.port }}
          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.internalService.port }}
              scheme: {{ .Values.internalService.probeScheme }}
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: {{ .Values.internalService.port }}
              scheme: {{ .Values.internalService.probeScheme }}
            initialDelaySeconds: 3
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- if .Values.extraContainers }}
        {{- toYaml .Values.extraContainers | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.dnsPolicy }}
      dnsPolicy: {{ .Values.dnsPolicy }}
      {{- end }}
      {{- if .Values.dnsConfig }}
      dnsConfig:
        {{- with .Values.dnsConfig }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
