apiVersion: v1
kind: Secret
metadata:
  name: {{ include "centrifugo.fullname" . }}
  labels:
    app: {{ include "centrifugo.name" . }}
    chart: {{ include "centrifugo.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
type: Opaque
data:
  {{- if .Values.secrets.tokenHmacSecretKey }}
  token_hmac_secret_key: {{ .Values.secrets.tokenHmacSecretKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.apiKey }}
  api_key: {{ .Values.secrets.apiKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.grpcApiKey }}
  grpc_api_key: {{ .Values.secrets.grpcApiKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.adminPassword }}
  admin_password: {{ .Values.secrets.adminPassword | b64enc | quote }}
  {{- else }}
  admin_password: {{ randAlphaNum 12 | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.adminSecret }}
  admin_secret: {{ .Values.secrets.adminSecret | b64enc | quote }}
  {{- else }}
  admin_secret: {{ randAlphaNum 24 | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.redisUrl }}
  redis_url: {{ .Values.secrets.redisUrl | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.redisPassword }}
  redis_password: {{ .Values.secrets.redisPassword | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.redisSentinelPassword }}
  redis_sentinel_password: {{ .Values.secrets.redisSentinelPassword | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.natsUrl }}
  nats_url: {{ .Values.secrets.natsUrl | b64enc | quote }}
  {{- end }}
