{{- if .Values.serviceGrpc.useSeparate -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "centrifugo.fullname" . }}-grpc-api
  namespace: {{ include "centrifugo.namespace" . }}
  labels:
    {{- include "centrifugo.labels" . | nindent 4 }}
    {{- with .Values.serviceGrpc.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.serviceGrpc.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.serviceGrpc.type }}
  {{- if and (eq .Values.serviceGrpc.type "ClusterIP") .Values.serviceGrpc.clusterIP }}
  clusterIP: {{ .Values.serviceGrpc.clusterIP }}
  {{- end }}
  ports:
    - port: {{ .Values.serviceGrpc.port }}
      targetPort: {{ .Values.servers.grpc.port }}
      protocol: TCP
      {{- if .Values.serviceGrpc.appProtocol }}
      appProtocol: {{ .Values.serviceGrpc.appProtocol }}
      {{- end }}
      name: grpc
      {{- if (and (eq .Values.serviceGrpc.type "NodePort") (not (empty .Values.serviceGrpc.nodePort))) }}
      nodePort: {{ .Values.serviceGrpc.nodePort }}
      {{- end }}
  selector:
    {{- include "centrifugo.main.selectorLabels" . | nindent 4 }}
{{- end }}
