{{- if .Values.serviceUniGrpc.useSeparate -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "centrifugo.fullname" . }}-uni-grpc
  namespace: {{ include "centrifugo.namespace" . }}
  labels:
    {{- include "centrifugo.labels" . | nindent 4 }}
    {{- with .Values.serviceUniGrpc.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.serviceUniGrpc.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.serviceUniGrpc.type }}
  {{- if and (eq .Values.serviceUniGrpc.type "ClusterIP") .Values.serviceUniGrpc.clusterIP }}
  clusterIP: {{ .Values.serviceUniGrpc.clusterIP }}
  {{- end }}
  ports:
    - port: {{ .Values.serviceUniGrpc.port }}
      targetPort: {{ .Values.servers.uniGrpc.port }}
      protocol: TCP
      {{- if .Values.serviceUniGrpc.appProtocol }}
      appProtocol: {{ .Values.serviceUniGrpc.appProtocol }}
      {{- end }}
      name: uni-grpc
      {{- if (and (eq .Values.serviceUniGrpc.type "NodePort") (not (empty .Values.serviceUniGrpc.nodePort))) }}
      nodePort: {{ .Values.serviceUniGrpc.nodePort }}
      {{- end }}
  selector:
    {{- include "centrifugo.selectorLabels" . | nindent 4 }}
{{- end }}
