{{- if .Values.serviceInternal.useSeparate -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "centrifugo.fullname" . }}-internal
  namespace: {{ include "centrifugo.namespace" . }}
  labels:
    {{- include "centrifugo.labels" . | nindent 4 }}
    {{- with .Values.serviceInternal.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.serviceInternal.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.serviceInternal.type }}
  {{- if and (eq .Values.serviceInternal.type "ClusterIP") .Values.serviceInternal.clusterIP }}
  clusterIP: {{ .Values.serviceInternal.clusterIP }}
  {{- end }}
  ports:
    - port: {{ .Values.serviceInternal.port }}
      targetPort: {{ .Values.servers.internal.port }}
      protocol: TCP
      {{- if .Values.serviceInternal.appProtocol }}
      appProtocol: {{ .Values.serviceInternal.appProtocol }}
      {{- end }}
      name: internal
      {{- if (and (eq .Values.serviceInternal.type "NodePort") (not (empty .Values.serviceInternal.nodePort))) }}
      nodePort: {{ .Values.serviceInternal.nodePort }}
      {{- end }}
  selector:
    {{- include "centrifugo.main.selectorLabels" . | nindent 4 }}
{{- end }}
